.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 20px;
  }
}
